#mycard{
    display: flex;
    justify-content: space-between;
}

#usingbootstrap{
    display: flex;
   
}


/* WEBSITE TATA MOTORS NAV BAR */

.me-auto{
    display: flex;
    justify-content: center;
}

#footer{
    display: flex;
}

